body {
  background-image: url('../assets/backgroundImage.jpg');
}

@media all and (min-width: 480px) {
  #container {
    display: flex;
    justify-content: center;
  }

  .Login {
    width: 35%;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    margin: 10% 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  .LabelForm {
    color: white;
  }

  .TitleForm {
    color: white;
    margin-bottom: 30px;
  }

  .ButtonLogin {
    margin-top: 50px;
  }

  .ButtonRegister {
    margin-bottom: 30px;
  }
}
